.navbar-google{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.navbar-google-1{
    margin: 10px;
}

/* unvisited link */
a:link {
    color: black;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: black;
  }
  
  /* mouse over link */
  a:hover {
    color: black;
  }
  
  /* selected link */
  a:active {
    color: black;
  }
  .center-div-1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    
  }
  .center-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    
  }
 .round-input{
    display: flex;
    z-index: 3;
    height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin:  0 auto;
    width: calc(632px + 6px);
    width: 540px;
    max-width: 584px;
 }
 .raadin-google{
    background-color: #d6d9dd;
    border: 1px solid #d6d9dd;
    border-radius: 4px;
    color: black;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    
 }
 